.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;

  .element {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 1rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0.5rem 0;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      margin: 0.5rem 0;
    }

    h3,
    span,
    li {
      font-size: 1.1rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
    }

    ul {
      list-style-position: inside;
      list-style-type: circle;

      li {
        margin: 0.5rem;
      }
    }

    .grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid rgba(255, 255, 255, 0.25);

        img {
          width: 7rem;
          height: 7rem;
          margin: 1rem;
          opacity: 0.3;
        }

        h3 {
          color: white;
        }
      }
    }
  }
}
