.container {
  width: 20rem;
  border: solid 1px rgba(255, 255, 255, 0.25);
  padding: 1rem;
  margin: 1rem;

  @media only screen and (max-width: 1024px) {
    width: calc(100% - 0.6rem);
    margin-left: 0.3rem;
  }

  .picture {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    margin-top: 1rem;

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .arrow {
    width: 4rem;
    height: 4rem;

    @media only screen and (max-width: 1024px) {
      width: 3rem;
      height: 3rem;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.5rem 0;

    @media only screen and (max-width: 1024px) {
      font-size: 1.1rem;
    }
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

    @media only screen and (max-width: 1024px) {
      font-size: 0.9rem;
    }
  }
}
