.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: black;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 4rem;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    min-width: 4rem;
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
      color: rgba(0, 0, 0, 1);
      transform: scale(1.02);
    }
  }

  .nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  .welcomepage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;

    img {
      width: 80%;
      height: 60%;
      object-fit: cover;
      
    }

    .bottom {
      display: flex;
      width: 80%;
      height: fit-content;
      margin-top: 2rem;

      .left {
        width: 35%;
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        padding-right: 2rem;

        h2 {
          font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.25);
          line-height: 1.4rem;
        }
      }

      .right {
        width: 65%;
        height: 100%;
        padding-left: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: rgba(0, 0, 0, 0.5);
          font-size: 1.1rem;
          text-align: justify;
          line-height: 1.4rem;
        }
      }
    }
  }
}

.projectcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .fullwidthimg {
    width: 80%;
    max-height: calc(100vh * 0.6);
    margin: 1rem 0;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      width: 20%;
      top: 2rem;
    }
  }

  .fullwidthheightimg {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 2rem 0;
  }

  .pair {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
    margin: 1rem 0;

    .doubleimgcolumn {
      display: flex;
      flex-direction: column;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(216, 0, 0);
      }
    }

    img {
      object-fit: cover;
      border: 1px solid rgba(216, 0, 0);
    }

    p {
      margin-left: 2rem;
    }

    .sixty {
      width: 60%;
    }
    .fifty {
      width: 50%;
    }
    .fourty {
      width: 40%;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 80%;
    margin: 1rem 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    p {
      margin: 0 2rem;
    }
  }

  p {
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.3rem;
  }

  em {
    font-weight: 800;
    font-style: normal;
  }
}
