.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: black;
  overflow-x: hidden;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    min-width: 4rem;
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
      color: rgba(0, 0, 0, 1);
      transform: scale(1.02);
    }
  }

  .backbutton {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nextbutton {
    position: absolute;
    top: 0;
    right: 0;
  }

  h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  .welcomepage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    img {
      width: 80%;
      height: 60%;
      object-fit: cover;
    }

    .bottom {
      display: flex;
      width: 80%;
      height: fit-content;
      margin-top: 2rem;

      .left {
        width: 35%;
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        h2 {
          font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.25);
          line-height: 1.4rem;
        }
      }

      .right {
        width: 65%;
        height: 100%;
        padding-left: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: rgba(0, 0, 0, 0.5);
          font-size: 1.1rem;
          text-align: justify;
          line-height: 1.4rem;
        }
      }
    }
  }
}

.projectcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fullwidthimg {
    width: 80%;
    object-fit: cover;
    max-height: calc(100vh * 0.6);
    margin: 2rem 0;
  }

  .pair {
    display: flex;
    justify-content: space-between;
    width: 80%;

    img {
      object-fit: cover;
    }

    .sixty {
      width: 60%;
    }
    .fourty {
      width: 40%;
    }
  }
}
