.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .left {
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    position: relative;

    @media only screen and (max-width: 1024px) {
      margin-left: 2rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: 200;
      text-transform: uppercase;
      position: sticky;
      top: 0;
      padding-top: 1rem;

      @media only screen and (max-width: 1780px) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }

  .right {
    display: flex;
    width: 55%;

    @media only screen and (max-width: 1780px) {
      width: 65%;
    }

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
