.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  position: relative;

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    color: white;
    position: sticky;
    top: 0;
  }
}
