* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.marginline {
  height: 1.5rem;
  font-size: 0.8rem;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 4rem; */
}