* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0.5rem;
  }

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  opacity: 50%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) black;
  }
}

.marginline {
  height: 1.5rem;
  font-size: 0.8rem;
  width: 100%;
  color: #ffffff;
  opacity: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden {
  display: none;
  color: red;
}

.contact {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.contact_bckg {
  background-color: white;
  color: black;
}

.contact:hover {
  transform: scale(1.15);
  background-color: white;
  color: black;
  cursor: pointer;
}
